@import url(bootstrap.min.css);
@import url(swiper-bundle.min.css);
@import url(../fonts/remixicon.css);
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #ca0a14;
    --secondary-color: #282a31;
    --background-color: #f2f2f3;
    --white: #ffffff;
    --black: #000000;
    --primary-dark: #242424;
    --secondary-dark: #575757;
    --primary-gray: #5c5c5c;
    --soft-gray: #d6d6d6;
    --sm-soft-gray: #f9f9f9;
    
    --loader-background-color: rgba(255, 255, 255, 0.10);
    --loader-highlight-color: rgba(255, 255, 255, 0.15);

    --danger: #F32222;
    --success: #A4F322;

    --xxs: 4px;
    --xs: 8px;
    --sm: 14px;
    --base: 16px;
    --base-md: 18px;
    --base-lg: 28px;
    --md: 24px;
    --lg: 32px;
    --base-xl: 48px;
    --xl: 64px;
    --xxl: 128px;
}

body {
    background-color: var(--background-color);
    font-family: "Barlow", sans-serif;
}

a {
    color: var(--black);
    text-decoration: none;
}

.head-navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    .header-top {
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
        width: 100%;
        height: var(--xl);
        .header-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--lg);
    
            .header-left {
                display: flex;
                align-items: center;
                gap: var(--lg);
                .logo {
                    img {
                        max-width: 200px;
                        max-height: 30px;
                    }
                }
            }
            
            .ticker-bar {
                display: flex;
                align-items: center;
                justify-content: end;
                width: 100%;
                height: var(--xl);
                .ticker-bar-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: var(--lg);
                    .ticker {
                        display: flex;
                        flex-direction: column;
                        .name {
                            font-weight: 700;
                            font-size: var(--sm);
                            color: var(--white);
                        }
                        .price {
                            display: flex;
                            gap: var(--xs);
                            min-width: 117px;
                            .loading {
                                border-radius: var(--xxs);
                                width: 100%;
                                height: 24px;
                                background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
                                background-size: 200% 100%;
                                animation: loading 2s infinite ease-in-out;
                            }
                            .value {
                                color: var(--white);
                            }
                            .change {
                                color: var(--white);
                                &.up {
                                    color: rgba(255, 255, 255, 0.5);
                                }
                                &.down {
                                    color: rgba(255, 255, 255, 0.5);
                                }
                            }
                        }
                    }
                }
            }

            .header-mobile {
                display: none;
                align-items: center;
                justify-content: center;
                gap: var(--xxs);
                .mobile-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    transition: all .2s ease;
                    i {
                        font-size: var(--md);
                        color: var(--white);
                    }
                    &:hover {
                        transition: all .3s ease;
                        background-color: rgba(255, 255, 255, 0.20);
                    }
                }
            }
        }
    }
    .header-bottom {
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
        width: 100%;
        height: var(--xl);
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .header-menu {
                overflow: hidden;
                .menu {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    li {
                        list-style: none;
                        display: flex;
                        &.active {
                            a {
                                background-color: rgba(255, 255, 255, 0.20);
                                transition: all .3s ease;
                            }
                        }
                        &.menu-item-has-children {
                            > a:first-child {
                                display: flex;
                                align-items: center;
                                gap: var(--xxs);
                                &::after {
                                    font-family: 'remixicon' !important;
                                    color: var(--white);
                                    font-size: var(--base-md);
                                    content: "\ea4e";
                                    transition: all .2s ease;
                                }
                            }
                        }
                        a {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: var(--sm);
                            font-weight: 600;
                            text-transform: uppercase;
                            color: var(--white);
                            border-radius: var(--xxs);
                            padding: var(--xs) var(--base-md);
                            transition: all .2s ease;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.10);
                                transition: all .3s ease;
                            }
                        }
                        &:hover {
                            .sub-menu {
                                display: block;
                            }
                        }
                    }
                    .sub-menu {
                        display: none;
                        position: absolute;
                        min-width: 200px;
                        padding: 0;
                        top: 53px;
                        background-color: var(--primary-color);
                        border-radius: var(--xxs) var(--xxs);
                        box-shadow: var(--bs-box-shadow-lg);
                        overflow: hidden;
                        animation: subMenuAnimation .3s ease;
                        li {
                            display: block;
                            padding: 0;
                            a {
                                display: block;
                                justify-content: start;
                                align-items: start;
                                color: var(--white);
                                padding: var(--xs) var(--sm);
                                border-radius: 0;
                                transition: all .2s ease;
                                &:hover {
                                    background-color: rgba(255, 255, 255, 0.10);
                                    transition: all .3s ease;
                                }
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @keyframes subMenuAnimation {
        from {
            top: 50px;
        }
        to {
            top: 53px;
        }
    }
    .search {
        form {
            input {
                width: 200px;
                font-size: var(--base);
                background-color: rgba(255, 255, 255, 0.20);
                border: 0;
                outline: 0;
                padding: var(--xs) var(--sm);
                border-radius: var(--xxs);
                color: var(--white);
                border: 1px solid transparent;
                transition: all .2s ease;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.60);
                }
                &:focus {
                    transition: all .3s ease;
                    width: 240px;
                    background-color: var(--white);
                    color: var(--black);
                    &::placeholder {
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }
    }
}



.mobile-search {
    z-index: 7;
    padding: 0 var(--base);
    position: fixed;
    display: none;
    width: 100%;
    left: 0;
    right: 98px;
    transition: all .2s ease;
    form {
        position: relative;
        input {
            width: 100%;
            height: var(--xl);
            font-size: var(--base);
            background-color: var(--white);
            border: 0;
            outline: 0;
            padding: var(--sm) var(--sm);
            border-radius: var(--xxs);
            color: var(--black);
            border: 1px solid transparent;
            transition: all .2s ease;
            &::placeholder {
                color: var(--primary-gray);
            }
        }
        .mobile-button {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--xl);
            height: var(--xl);
            border-radius: 100%;
            transition: all .2s ease;
            i {
                font-size: var(--md);
                color: var(--black);
            }
            &:hover {
                transition: all .3s ease;
                background-color: rgba(255, 255, 255, 0.20);
            }
        }
    }
    &.open {
        display: block;
        animation: fadeIn .3s ease;
    }
}

.mobile-menu {
    z-index: 7;
    position: fixed;
    display: none;
    background-color: var(--primary-color);
    padding: var(--xs) var(--sm);
    width: 320px;
    height: 100vh;
    right: -320px;
    top: 0;
    transition: all .2s ease;
    .menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            &.active {
                a {
                    opacity: 1;
                    transition: all .3s ease;
                    &::after {
                        bottom: 0;
                        transition: all .3s ease;
                    }
                }
            }
            &.menu-item-has-children {
                > a:first-child {
                    display: flex;
                    align-items: center;
                    gap: var(--xxs);
                    &::after {
                        font-family: 'remixicon' !important;
                        color: var(--white);
                        font-size: var(--base-md);
                        content: "\ea4e";
                        transition: all .2s ease;
                    }
                }
            }
            a {
                position: relative;
                display: block;
                font-size: var(--base-md);
                font-weight: 600;
                text-transform: uppercase;
                color: var(--white);
                padding: var(--xs);
                opacity: 0.9;
                transition: all .2s ease;
                &:hover {
                    opacity: 1;
                    transition: all .3s ease;
                }
            }
            .sub-menu {
                display: none;
                padding: 0;
                border-radius: var(--xxs);
                background-color: rgba(255, 255, 255, 0.10);
            }
        }
    }
    &.open {
        display: block;
        right: 0;
        animation: slideIn .3s ease;
    }
}

@keyframes slideIn {
    from {
        right: -320px;
    }
    to {
        right: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.masthead-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--sm) 0;
    .masthead {
        width: 970px;
        height: 250px;
        background-color: var(--sm-soft-gray);
    }
}

.headline-post {
    margin-top: var(--lg);
    .headlines {
        border-radius: var(--xxs);
        margin-bottom: var(--lg);
        border-radius: var(--xxs);
        overflow: hidden;
        .swiper-pagination {
            display: flex;
            justify-content: space-between;
            bottom: 0;
            .swiper-pagination-bullet {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 40px;
                border-radius: 0;
                margin: 0;
                background-color: var(--white);
                color: var(--black);
                font-weight: 600;
                opacity: 1;
                &.swiper-pagination-bullet-active {
                    background-color: var(--primary-color);
                    color: var(--white);
                }
            }
        }
        .swiper-button-next, .swiper-button-prev {
            background-color: var(--white);
            color: var(--black);
            width: 32px;
            transition: all .2s ease;
            &::after {
                font-size: 18px;
            }
        }
        .swiper-button-next {
            right: 0;
            padding-left: 10px;
            border-radius: 30px 0 0 30px;
        }
        .swiper-button-prev {
            left: 0;
            padding-right: 10px;
            border-radius: 0 30px 30px 0;
        }
        &:hover {
            .swiper-button-next, .swiper-button-prev {
                width: 48px;
                transition: all .3s ease;
            }
        }
    }
    .post-card {
        background-color: var(--white);
        display: block;
        width: 100%;
        height: 470px;
        position: relative;
        overflow: hidden;
        .photo {
            width: 100%;
            height: 470px;
            background-size: cover;
            background-repeat: none;
        }
        .content {
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            width: 100%;
            height: 300px;
            padding: var(--lg);
            gap: var(--xs);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
            .title {
                color: var(--white);
                font-weight: 700;
                font-size: 36px;
                line-height: 46px;
                margin: 0;
            }
            .category {
                padding: var(--xxs) var(--xs);
                background-color: var(--primary-color);
                color: var(--white);
                font-size: var(--sm);
                border-radius: var(--xxs);
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    } 
    .headline-links {
        height: 510px;
        overflow-y: scroll;
        background-color: var(--white);
        border-radius: var(--xxs);
        .links {
            .post-link {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: var(--xs);
                padding: var(--base);
                border-bottom: 1px solid var(--background-color);
                .thumbnail-image {
                    width: var(--xl);
                    height: var(--xl);
                    img {
                        width: var(--xl);
                        height: var(--xl);
                        border-radius: var(--xxs);
                        height: auto;
                    }
                }
                .post-title {
                    font-size: var(--base);
                    font-weight: 700;
                    line-height: 24px;
                    margin: 0;
                    transition: all .2s ease;
                }
                &:hover {
                    .post-title {
                        color: var(--primary-color);
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
}

.fast-post {
    margin-top: var(--lg);
    .post-card {
        background-color: var(--white);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--xs);
        border-radius: var(--xxs);
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
        .content {
            padding: var(--xs);
            display: flex;
            flex-direction: column;
            gap: var(--xxs);
            .title {
                font-weight: 700;
                font-size: var(--base);
                line-height: 22px;
                min-height: 66px;
                max-height: 66px;
                margin: 0;
            }
            .category {
                font-size: var(--base);
                font-weight: 600;
                color: var(--primary-color);
            }
        }
    }
}

.pagination {
    display: none;
}



.profile-header {
    background-color: var(--white);
    margin-bottom: var(--md);
    overflow: hidden;
    border-radius: var(--xxs);
    .cover {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        height: 150px;
        img {
            width: 200px;
        }
    }
    .content {
        margin-top: -60px;
        padding: var(--md);
        border-radius: var(--xxs);
        display: flex;
        flex-direction: column;
        gap: var(--xs);
        .photo {
            img {
                border-radius: 100%;
            }
        }
        .title {
            font-size: var(--lg);
            font-weight: 600;
            color: var(--black);
            margin: 0;
        }
        .desc {
            color: var(--primary-gray);
            font-size: var(--base-md);
        }
    }
}

.posts {
    background-color: var(--white);
    padding: var(--md);
    border-radius: var(--xxs);
    display: flex;
    flex-direction: column;
    gap: var(--md);

    .header {
        padding-bottom: var(--xs);
        border-bottom: 1px solid var(--sm-soft-gray);
        .title {
            text-transform: uppercase;
            font-size: var(--base-md);
            font-weight: 600;
            color: var(--black);
        }
    }
    
    .post-list {
        display: flex;
        flex-direction: column;
        gap: var(--md);
        .post-card {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: var(--md);
            img {
                width: 300px;
                height: auto;
                border-radius: var(--xxs);
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: var(--xxs);
                .title {
                    font-weight: 700;
                    font-size: var(--md);
                    line-height: var(--lg);
                    margin: 0;
                }
                .date {
                    font-size: var(--base);
                    color: var(--primary-gray);
                }
                .category {
                    font-size: var(--base);
                    font-weight: 600;
                    color: var(--primary-color);
                }
                p {
                    font-size: var(--base);
                    line-height: var(--md);
                    color: var(--primary-gray);
                }
            }
        }
    }
}

.smilar {
    background-color: var(--white);
    border-radius: var(--xxs);
    padding: var(--md);
    display: flex;
    flex-direction: column;
    gap: var(--md);
    margin: var(--lg) 0;
    
    .header {
        .title {
            display: inline-flex;
            align-items: center;
            gap: var(--base);
            font-size: var(--md);
            font-weight: 700;
            color: var(--black);
            &::before {
                content: " ";
                display: inline-block;
                width: var(--base);
                height: var(--base);
                border-radius: var(--xxs);
                background-color: var(--primary-color);
            }
        }
    }
    
    .post-card {
        background-color: var(--white);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--xs);
        img {
            border-radius: var(--xxs);
            width: 100%;
            height: auto;
        }
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--xxs);
            .title {
                font-weight: 700;
                font-size: var(--base);
                line-height: 22px;
                margin: 0;
            }
            .category {
                font-size: var(--base);
                font-weight: 600;
                color: var(--primary-color);
            }
        }
    }
}

.not-found-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--xl);
    .title {
        font-weight: 700;
        font-size: var(--lg);
    }
    .desc {
        font-weight: 400;
        font-size: var(--base-md);
    }
}

.single-post {
    background-color: var(--white);
    padding: var(--md);
    border-radius: var(--xxs);
    display: flex;
    flex-direction: column;
    gap: var(--md);
    .header {
        .title {
            font-weight: 700;
            font-size: 48px;
            line-height: 55px;
        }
        p {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 0;
        }
    }
    .content {
        line-height: var(--base-lg);
        font-size: var(--base-md);
        word-wrap: break-word;
        .wp-block-image {
            margin-bottom: var(--base);
        }
        blockquote {
            position: relative;
            overflow: hidden;
            margin-left: 0;
            margin-top: var(--base);
            margin-bottom: var(--base);
            width: 100%;
            background-color: var(--sm-soft-gray);
            padding: var(--base) var(--md);
            border-radius: var(--xxs);
            &::before {
                content: "“";
                font-family: 'sans';
                font-weight: 700;
                position: absolute;
                left: var(--xs);
                top: 50px;
                font-size: 150px;
                color: var(--primary-gray);
                opacity: 0.1;
            }
        }
        .featured-image {
            margin-bottom: var(--sm);
            img {
                width: 100%;
            }
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
            font-size: var(--base-lg);
        }
        img {
            border-radius: var(--xxs);
            max-width: 100%;
        }
    }
    .disclaimer {
        padding: var(--sm);
        border-radius: var(--xxs);
        background-color: var(--sm-soft-gray);
        border: 1px solid var(--soft-gray);
        color: var(--primary-gray);
        font-size: var(--base);
        line-height: var(--base-lg);
        p {
            margin: 0;
            line-height: 24px;
        }
    }

    .subscription {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .google-news {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0 var(--sm);
            height: var(--lg);
            border-radius: var(--xxs);
            border: 1px solid var(--soft-gray);
            opacity: 0.9;
            transition: all .2s ease;
            .sub-text {
                font-size: 12px;
                border-left: 1px solid var(--soft-gray);
                padding-left: var(--sm);
                margin-left: var(--sm);
            }
            &:hover {
                opacity: 1;
                transition: all .3s ease;
            }
        }
    }

    .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .author {
            display: flex;
            align-items: center;
            gap: var(--xs);
            img {
                width: 48px;
                height: 48px;
                border-radius: 100%;
            }
            .info {
                display: flex;
                flex-direction: column;
                .name {
                    font-size: var(--base);
                    font-weight: 600;
                }
                .date {
                    font-size: var(--sm);
                    color: var(--primary-gray);
                }
            }
        }

        .share {
            display: flex;
            gap: var(--xs);
            .link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--lg);
                height: var(--lg);
                border-radius: var(--xxs);
                background-color: var(--soft-gray);
                opacity: 0.9;
                transition: all .2s ease;
                &.facebook {
                    background-color: #1877f2;
                }
                &.x {
                    background-color: #14171a;
                }
                &.linkedin {
                    background-color: #0a66c2;
                }
                &.whatsapp {
                    background-color: #25d366;
                }
                svg {
                    path {
                        fill: #fff;
                    }
                }
                &:hover {
                    opacity: 1;
                    transition: all .3s ease;
                }          
            }
        }
    }
}

.sidebar {
    position: sticky;
    top: 160px;
    .trends {
        .title {
            display: flex;
            align-items: center;
            gap: var(--xs);
            margin-bottom: var(--base);
            font-size: var(--md);
            font-weight: 700;
            svg {
                path {
                    fill: var(--primary-color)
                }
            }
        }
        background-color: var(--white);
        padding: var(--md);
        border-radius: var(--xxs);
        .links {
            display: flex;
            flex-direction: column;
            gap: var(--xs);
            .post-link {
                display: flex;
                flex-direction: column;
                gap: var(--xxs);
                .post-title {
                    font-size: var(--base);
                    font-weight: 600;
                    line-height: var(--md);
                    margin: 0;
                    transition: all .2s ease;
                }
                .date {
                    font-size: var(--sm);
                    color: var(--primary-gray);
                }
                &:hover {
                    .post-title {
                        color: var(--primary-color);
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
}

.comments-area {
    background-color: var(--white);
    border-radius: var(--xxs);
    padding: var(--md);
    margin: var(--lg) 0;
    .comments-title {
        display: flex;
        align-items: center;
        gap: var(--xs);
        margin-bottom: var(--base);
        font-size: var(--md);
        font-weight: 700;
    }
    .comment-respond {
        #reply-title {
            display: flex;
            align-items: center;
            gap: var(--xs);
            margin-bottom: var(--base);
            font-size: var(--md);
            font-weight: 700;
        }
    }
    .comment-list {
        display: flex;
        flex-direction: column;
        gap: var(--md);
        list-style: none;
        margin-top: var(--base);
        padding: 0;
        .comment {
            padding: var(--base);
            border: 1px solid var(--soft-gray);
            border-radius: var(--xxs);
            .comment-body {
                p {
                    font-size: var(--base-md);
                    line-height: var(--base-lg);
                }
                .comment-author {
                    display: flex;
                    align-items: center;
                    gap: var(--xs);
                    img {
                        border-radius: 100%;
                    }
                    .fn {
                        font-size: var(--base);
                        font-weight: 600;
                        font-style: unset;
                    }
                    .says {
                        display: none;
                    }
                }
                .comment-meta {
                    font-size: var(--sm);
                    color: var(--primary-gray);
                    margin-top: var(--xs);
                }
                .reply {
                    .comment-reply-link {
                        font-size: var(--sm);
                        color: var(--primary-color);
                    }
                }
            }
        }
        .children {
            list-style: none;
            margin-top: var(--base);
            padding: 0;
        }
    }
    .comment-respond {
        .logged-in-as {
            display: none !important;
        }
        .reply-title {
            font-size: var(--md);
        }
        .comment-form {
            p {
                display: flex;
                flex-direction: column;
                gap: var(--xs);
                label {
                    font-size: var(--base);
                    font-weight: 600;
                }
                input {
                    padding: var(--sm);
                    outline: unset;
                    border: 1px solid var(--soft-gray);
                    background-color: var(--sm-soft-gray);
                    border-radius: var(--xxs);
                    transition: all .2s ease;
                    &:focus {
                        border: 1px solid var(--primary-color);
                        transition: all .3s ease;
                    }
                }
                textarea {
                    padding: var(--sm);
                    outline: unset;
                    border: 1px solid var(--soft-gray);
                    background-color: var(--sm-soft-gray);
                    border-radius: var(--xxs);
                    resize: unset;
                    height: 100px;
                    transition: all .2s ease;
                    &:focus {
                        border: 1px solid var(--primary-color);
                        transition: all .3s ease;
                    }
                }
            }
            .comment-form-cookies-consent, .comment-notes {
                display: flex;
                flex-direction: row;
                align-items: center;
                label {
                    font-weight: 400;
                }
            }
        }
        .form-submit {
            margin: 0;
            .submit {
                cursor: pointer;
                padding: var(--base);
                outline: unset;
                border: unset;
                background-color: var(--primary-color);
                color: var(--white);
                font-size: var(--base);
                font-weight: 500;
                border-radius: var(--xxs);
            }
        }
    }
}

.main {
    margin-top: var(--lg);
}

#wrapper {
    min-height: 100vh;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.50);
    &.open {
        display: block;
    }
}

.footer {
    background-color: var(--secondary-color);
    margin-top: var(--xl);
    padding: var(--xl) 0;
    .logo {
        margin-bottom: var(--lg);
        img {
            width: 250px;
        }
    }
    .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        padding-top: var(--lg);
        text-align: center;
    }
    .footer-col {
        display: flex;
        flex-direction: column;
        gap: var(--base);
        margin-bottom: var(--lg);
        &.social-media {
            .links {
                display: flex;
                gap: var(--xs);
                .social-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    border-radius: var(--xxs);
                    background-color: rgba(255, 255, 255, 0.05);
                    transition: all .2s ease;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.20);
                        transition: all .3s ease;
                    }
                }
            }
        }
        .header {
            .title {
                font-size: var(--base);
                font-weight: 600;
                color: var(--white);
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: var(--xs);
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                a {
                    font-size: var(--sm);
                    font-weight: 400;
                    color: var(--white);
                    opacity: 0.8;
                    transition: all .2s ease;
                    &:hover {
                        transition: all .3s ease;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//WordPress Embed Content
.wp-block-embed {
    display: flex;
    align-items: center;
    justify-content: center;
}

//Scrollbar

.scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 12px
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--soft-gray);
    border-radius: 20px;
    border: 4px solid var(--white)
}

.scroll::-webkit-scrollbar-button {
    display: none
}

//Animation
@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

//Rank Math Table Of Content styles
.wp-block-rank-math-toc-block {
    margin: var(--md) 0;
    border-radius: var(--xxs);
    padding: var(--md);
    border: 1px solid var(--soft-gray);
    background-color: var(--sm-soft-gray);
    h2 {
        font-size: var(--base-md) !important;
        font-weight: 500 !important;
    }
    nav {
        ul {
            margin: 0;
            padding-left: var(--md);
            list-style: decimal;
            display: flex;
            flex-direction: column;
            gap: var(--xxs);
            li {
                a {
                    transition: all .2s ease;
                    &:hover {
                        color: var(--primary-color);
                        text-decoration: underline;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }

}

//Swiper custom styles
.swiper {
    .swiper-wrapper {
        padding-bottom: 40px;
    }
}
.swiper {
    .swiper-pagination-bullet-active {
        background-color: var(--primary-color);
    }
}

//Responsive
@media only screen and (max-width: 768px) {

    .main {
        margin-top: var(--sm);
    }

    .not-found-content {
        padding: var(--sm);
    }

    .masthead-container {
        display: none;
    }

    .head-navbar {
        .header-top {
            .header-container {
                .ticker-bar {
                    display: none;
                    .ticker-bar-container {
                        overflow-x: scroll;
                    }
                }
                .header-mobile {
                    display: flex;
                }
            }
        }
        .header-bottom {
            display: none;
        }
    }
    
    .posts {
        padding: var(--sm);
        .post-list {
            .post-card {
                justify-content: start;
                align-items: start;
                flex-direction: column;
                gap: var(--sm);
                .thumbnail-image {
                    width: 100%;
                }
                .content {
                    gap: var(--xxs);
                    .title {
                        font-size: var(--base-md);
                        line-height: 24px;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }

    .fast-post {
        margin-top: var(--sm);
    }

    .headline-post {
        margin-top: var(--sm);
        .headlines {
            border-radius: var(--xxs);
            margin-bottom: var(--sm);
            overflow: hidden;
            .swiper-wrapper {
                padding: 0;
            }
            .swiper-pagination {
                display: none;
            }
            .swiper-button-next, .swiper-button-prev {
                background-color: var(--white);
                color: var(--black);
                width: 24px;
                transition: all .2s ease;
                &::after {
                    font-size: 16px;
                }
            }
            .swiper-button-next {
                right: 0;
                padding-left: 10px;
                border-radius: 30px 0 0 30px;
            }
            .swiper-button-prev {
                left: 0;
                padding-right: 10px;
                border-radius: 0 30px 30px 0;
            }
            &:hover {
                .swiper-button-next, .swiper-button-prev {
                    width: 30px;
                    transition: all .3s ease;
                }
            }
        }
        .post-card {
            height: auto;
            .photo {
                width: 100%;
                height: 250px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .content {
                .category {
                    font-size: var(--sm);
                }
                .title {
                    font-size: var(--base);
                    line-height: 23px;
                }
            }
        }
    }

    .single-post {
        padding: var(--sm);
        .header {
            .title {
                font-size: var(--base-lg);
                line-height: 32px;
            }
            p {
                font-size: var(--base);
                line-height: 24px;
            }
        }
    }

    .smilar {
        padding: var(--sm);
        .post-card {
            margin-bottom: var(--base);
        }
    }

    .sidebar {
        margin: var(--lg) 0;
        .trends {
            padding: var(--sm);
        }
    }

    .comments-area {
        padding: var(--sm);
    }

    .footer {
        margin-top: var(--lg);
    }

    //Swiper custom styles responsive
    .swiper {
        .swiper-wrapper {
            padding-bottom: 48px;
        }
    }
}